.dialog-container
{
   position: absolute;
   z-index: 9999;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: rgba(0,0,0,0.4);
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 0;
   transition: opacity 0.1s;
}

.dialog-surface
{
   min-width: 400px;
   max-width: 70%;
   min-height: 50px;
   max-height: 95%;
   background-color: #fff;
   border-radius: 10px 10px 6px 6px;
   box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0,0,0,.12);
   display: flex;
   flex-direction: column;
}

.dialog-header
{
   border-radius: 6px 6px 0 0;
   padding: 20px;
   background-color: #4e80f7;
   color: #fff;
   font-weight: 400;
   font-size: 1.5em;
}

.dialog-header .material-icons
{
   padding: 2.5px;
   float: right;
   cursor: pointer;
}
.dialog-header .material-icons:hover
{
   color: #ccc;
}

.dialog-center
{
   text-align: center;
}

.dialog-content
{
   flex: 1;
   padding: 16px;
   overflow-y: auto;
}

/* Ranking Dialog */

.dialog-ranking-item
{
   padding: 8px;
   display: flex;
   flex-direction: row;
   min-width: 500px;
}

.dialog-ranking-item + .dialog-ranking-item
{
   border-top: #e6e6e6 1px solid;
}

.dialog-ranking-place
{
   flex: 0 0 40px;
   font-weight: bold;
}

.dialog-ranking-name
{
   flex: 1 1 auto;
}

.dialog-ranking-experience
{
   flex: 0 0 auto;
   text-align: right;
}

/* Help Dialog */

.dialog-task-row
{
   padding: 10px;
   display: flex;
}

.dialog-task-col
{
   padding: 10px;
   flex: 1 1 0;
}

.dialog-task-col p
{
   margin: 10px 0 0 0;
}

.dialog-task-header .material-icons
{
   display: block;
   font-size: 30px;
}

.dialog-task-row + .dialog-task-row
{
   border-top: #e6e6e6 1px solid;
}

.dialog-discord-button
{
   padding: 10px;
   color: #4e80f7;
   font-weight: 400;
   font-size: 1.5em;
   border: #4e80f7 3px solid;
   text-decoration: none;
   display: block;
   margin: 30px 30px 10px 30px;
   border-radius: 6px;
}

.dialog-discord-button:hover
{
   background-color: rgba(78, 128, 247, 0.05);
}

.dialog-discord-button:active
{
   background-color: rgba(78, 128, 247, 0.2);
}