.sidebar
{
	flex: 0 0 400px;
	background-color: #fff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	z-index: 999;
	display: flex;
	flex-direction: column;
}

.sidebar .error-icon
{
	margin: auto;
	font-size: 4em;
	color: #ccc;
}

.sidebar-brand
{
	background-color: #002377;
	min-height: 250px;
}

.sidebar-brand-logo
{
	display: block;
	margin: 0 auto;
	padding: 30px 0;
	width: 50%;
}

.sidebar-task:hover
{
	cursor: pointer;
}

.sidebar-task:hover::after
{
	font-family: 'Material Icons';
	content: "navigate_next";
	font-size: 24px;
	vertical-align: bottom;
	color: cfcfcf;
	float: right;
}

.sidebar-task .material-icons
{
	color: #737373;
}

.sidebar-subtitle
{
	background-color: #4e80f7;
	font-weight: 400;
	color: #fff;
	padding: 8px 12px;
	line-height: 1.2em;
}

.sidebar-subtitle-clickable:hover
{
	background-color: #3c74f6;
	cursor: pointer;
}

.sidebar-subtitle .material-icons
{
	vertical-align: -6px;
	margin-right: 2px;
}

.sidebar-search-container
{
	margin: 6px 15px 12px 15px;
}

.sidebar-search
{
	width: 100%;
	padding: 8px 35px 8px 12px;
	display: inline-block;
	border: 1.3px solid #424242;
	font-weight: 300;
	border-radius: 4px;
	box-sizing: border-box;
	position: relative;
}

.sidebar-search-icon
{
	position: relative;
	font-size: 24px;
	margin: 5px 6px 0 -30px !important;
	color: #424242;
	float: right;
}

.sidebar-search-helpers
{
	display: flex;
	flex-direction: row;
	margin: 6px -6px;
}

.sidebar-search-button
{
	width: 100%;
	text-align: center;
	font-size: 0.9em;
	font-weight: 500;
	padding: 4px;
	color: #686868;
	border: #686868 1.3px solid;
	border-radius: 9999px;
	margin: 4px 6px;
	cursor: pointer;
	-webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
	user-select: none;
}

.sidebar-search-button:hover
{
	background-color: #f3f3f3;
}

.sidebar-search-button.active
{
	background-color: #888888 !important;
	color: #fff;
}