.sidebar-section
{
	padding: 20px;
}
.sidebar-section + .sidebar-section
{
	border-top: #e6e6e6 1px solid;
}

.sidebar-title-section
{
	line-height: 1.3;
	font-size: 1.5em;
	font-weight: 400;
}

.sidebar-title-section small
{
	display: block;
	font-size: 0.7em;
	color: #5f5e5e;
	font-weight: 200;
}

.completion-icon
{
	vertical-align: -4px !important;
	margin: 0 !important;
	color: #5f5e5e;
}

.sidebar-title-section a
{
	color: #5f5e5e;
}

.sidebar-section .material-icons
{
	margin: 0 10px;
	vertical-align: -6px;
}

.sidebar-section-list-item
{
	display: block;
	padding-bottom: 9px;
}

.sidebar-section-big-list
{
	padding: 10px 0;
}

.sidebar-section-big-list-item
{
	padding: 8px 10px;
}

.sidebar-section-buttons
{
	display: flex;
	justify-content: center;
}

.sidebar-section-markdown ul
{ 
	padding-left: 30px; 
	list-style: none; 
}

.sidebar-section-markdown li:before {
	content: "-";
	display: inline-block;
	margin-left: -1.3em;
	width: 1.3em;
 }

.sidebar-section-markdown :first-child
{
	margin-top: 0 !important;
}

.sidebar-section-markdown :last-child
{
	margin-bottom: 0 !important;
}