html, body {
   height: 100%;
   margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
}
.container
{
	height: 100%;
	display: flex;
}

.map {
	flex: 1 1 auto;
	background-color: #f2f2f2;
}

.mobile-notice
{
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 999999;
	text-align: center;
}

.mobile-notice .material-icons
{
	margin-top: 100px;
	font-size: 5em;
}

@media only screen and (max-width: 800px)
{
	.mobile-notice
	{
		display: block;
	}
}

pre
{
	font-family: 'Inconsolata', monospace;
	color: #24292e;
	background-color: #f3f4f4;
	border-radius: 4px;
	padding: 0.75em;
	margin: 0.75em 0;
}

.material-icons
{
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
